<h1>{{title}}</h1>
<!--div class="container">
    <div class="col-md-1">
<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
</div>
</div-->

<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
        Product List
    </div>
    <div class="panel-body">
        <div class="row">
<div class="col-md-2">Fileter BY: </div>
<input type="text" placeholder="Enter your text"/>
        </div>
        <div class="row">

            </div>
            
    </div>
</div>
</div>